
body {
    font-family: 'Open Sans', sans-serif;
     background-color:#d7f3cd;
}

.brandColor{
    color: #f7f7f7 !important;
    font-style: italic !important;
    text-shadow: 2px -1px orange !important;
    font-size: 19px !important;
}

.homeBackGround{
    background-color:#d7f3cd;
}
.carousel{
    background: #2f4357;    
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 10px;
}
hr{
  background-color: #7774bf; height: 1px; border: 0;
  margin-top: 6px;color: #7774bf;
}

.homeImage{
    height:120px;
    width:100px;
    padding:5px;
    float:left;    
        border-radius: 18px;
}
.homePara{
    margin-left: 110px;
}

.homeDivisionDetails{
     margin-top: 10px;
}
.homeParaTitle{
    font-size: 20px;
    color: #7774bf;    
   
}

.homeTitle{
    color: #7774bf;
}
.homeForResourceTitle{
    color: #7774bf;
}

.InfoImagesIcon{
    width:70px;
    height:70px;
    float:left;
}